.landing-bottom__item {
    width: calc(100%/3);
    padding: 15px 5px;
    cursor: pointer;
    svg {
        width: 25px;
        display: block;
        margin: auto;
    }

    p {
        text-align: center;
        margin: 0;
        font-size: 13px;
    }

    &:hover {
        background-color: #f1f1f1;
        color: blue;

        svg {
            fill: blue;
        }
    } 
}

.landing-bottom {
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #f1f1f1;
    height: 60px;
}