.blogs__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    padding-top: 10px;

    .item {
        &--create {
            position: fixed;
            z-index: 2;
            width: 300px;
        }

        &--feed {
            margin-left: 310px;
            max-width: 700px;
        }
    }
}