.image-upload {
    width: 100%;
    background-size: cover;
    display: block;
    margin: auto;
    border: 1px solid #f1f1f1;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;

    .change__button {
        position: absolute;
        bottom: 0;
        padding: 5px 27px;
        text-align: center;
        background-color: #f1f1f1;
        opacity: 0.5;
        font-size: 13px;
        display: block;
        margin: auto;
        width: 100%;
        cursor: pointer;
    }
    img {
        width: 100%;
        height: auto;
        pointer-events: none;
    }
    &.defaultImage {
        min-height: 150px;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('../../../assets/images/default-upload.png');
    }
}